.title{
    background-color:black;
    text-align: center;
    color: red;
}
.content{
    background-color: lightgray;
}
body{
    background-image: url('record.png');
    margin: 0;
    padding: 1em;
    background-repeat: repeat;
}